.no-transactions {
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.transactions {
  height: 70%;
  overflow-y: auto;
  padding: 20px;
}

.transaction-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transaction-bubble {
  max-width: 70%;
  padding: 10px;
  border-radius: 15px;
}

.transaction-right {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.transaction-left {
  background-color: #f2f2f2;
  color: black;
  align-self: flex-start;
}

.transaction-amount {
  font-size: 1.2rem;
  font-weight: bold;
}

.transaction-time {
  font-size: 0.8rem;
  opacity: 0.7;
}

.transaction-status {
  font-size: 0.8rem;
  margin-top: 5px;
  color: #ffc107;
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 30px;
  right: 25px;
}

.submit {
  background-color: var(--secondary-color);
  color: #ffffff;
  height: 3rem;
  width: 6rem;
  font-size: 1.8rem;
  border-radius: 1.2rem;
}
