<div class="main">
  <div class="login-page">
    <div class="app-name">
      <div class="container-element-app">
        <img
          class="image-logo"
          [src]="'/assets/images/logo-primary.png'"
          alt="logo"
        />
        <h2>Keep your finances and friendships in order.</h2>
      </div>
    </div>

    <app-login-form class="login-form"></app-login-form>
  </div>
</div>

<!-- <div *ngIf="showRegistration">
  <app-registration-modal
    (register)="register()"
    (cancel)="hideRegistrationModal()"
  ></app-registration-modal>
</div> -->
