.main {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
  height: 100vh;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 500px;
  width: 800px;
  border: 1px solid black;
  // background-color: #f5f5f5;
}

.app-name {
  width: 30%;
  padding: 20px;
  background-color: white;
}

.login-form {
  width: 70%;
}
