html {
  font-size: 16px;
}

#login-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 100vh;
  background-color: #f5f5f5;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 31.25rem; /* 500px / 16px = 31.25rem */
  // margin: 0 auto;
}

form div {
  width: 100%;
  margin-bottom: 1.25rem; /* 20px / 16px = 1.25rem */
}

form div span {
  display: block;
  margin-bottom: 0.3125rem; /* 5px / 16px = 0.3125rem */
  font-weight: bold;
}

form div input {
  width: 100%;
  padding: 0.625rem; /* 10px / 16px = 0.625rem */
  border: 0.0625rem solid #ccc; /* 1px / 16px = 0.0625rem */
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  font-size: 1rem;
}

form div div {
  margin-top: 0.3125rem; /* 5px / 16px = 0.3125rem */
  color: #dc3545;
  font-size: 0.875rem; /* 14px / 16px = 0.875rem */
}

form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.3125rem; /* 5px / 16px = 0.3125rem */
  padding: 0.625rem 1.25rem; /* 10px / 16px = 0.625rem, 20px / 16px = 1.25rem */
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0069d9;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  form {
    max-width: 100%;
    padding: 0 0.625rem; /* 10px / 16px = 0.625rem */
  }

  form div input {
    font-size: 0.875rem; /* 14px / 16px = 0.875rem */
  }

  form button {
    font-size: 0.875rem; /* 14px / 16px = 0.875rem */
    padding: 0.625rem; /* 10px / 16px = 0.625rem */
  }
}
