.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: #fff;
}

// .logo {
//   font-size: 30px;
//   font-weight: bold;
//   text-transform: uppercase;
//   letter-spacing: 2px;
// }

.image-logo {
  width: 100px;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 200px;
  margin-right: 20px;
}

// .navigation li {
//   margin-right: 20px;
// }

// .navigation li:last-child {
//   margin-right: 0;
// }

// .navigation a {
//   color: #fff;
//   text-decoration: none;
//   font-size: 20px;
//   font-weight: bold;
//   text-transform: uppercase;
//   letter-spacing: 1px;
// }

.icon {
  font-size: 30px;
  cursor: pointer;
}
