#body {
  background-color: #fdf0d5;
  height: 100vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

#friends-list {
  border: 2px solid black;
  border-radius: 1.2em;
  margin-right: 1.2em;
}

#transactions {
  width: 400px;
  border: 2px solid black;
  border-radius: 1.2em;
}
