<div class="login-form">
  <h2>
    Sign in 
  </h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <input type="email" formControlName="email" placeholder="Email" />
    </div>
    <div>
      <input
        type="password"
        formControlName="password"
        placeholder="Password"
      />
    </div>
  </form>
  <div class="call-to-action-form">
    <button class="login-action" type="submit">Login</button>
    <a href="#"> forget password</a>
    <button class="sign-up-action" type="submit">Create account</button>
  </div>
</div>
